@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.hero{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg ,#010758,#490d61);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}