@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  background-color: #3264fe;
  place-items: center;
}

.wrapper {
  position: relative;
  width: 95vmin;
  background-color: #fff;
  padding: 50px 40px 20px 40px;
}

.container {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 30px;
}

input[type="range"] {
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

.slider-track {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
}

/* للـ Edge/IE */
input[type="range"]::-ms-track {
  appearance: none;
  height: 5px;
}
input[type="range"]::-ms-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  background-color: #3264fe;
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
}
input[type="range"]:active::-ms-thumb {
  background-color: #fff;
  border: 3px solid #3264fe;
}

/* للمتصفحات المبنية على WebKit (Chrome / Edge / Brave ...) */
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  background-color: #3264fe;
  cursor: pointer;
  border-radius: 50%;
}

.values {
  background-color: #3264fe;
  width: 32%;
  position: relative;
  margin: auto;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
}

.values::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 15px solid #3264fe;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin: auto;
  bottom: -12px;
  left: 0;
  right: 0;
}
